:root{
    --primary-color-hue: 252;
    --dark-color-lightness: 17%;
    --light-color-lightness: 95%;
    --white-color-lightness: 100%;

    --color-white: hsl(252, 30%, var(--white-color-lightness));
    --color-light: hsl(252, 30%, var(--light-color-lightness));
    --color-grey: hsl(var(--primary-color-hue), 15%, 65%);
    --color-primary: hsl(var(--primary-color-hue), 75%, 60%);
    --color-secundary: hsl(252, 100%, 90%);
    --color-sucess: hsl(120, 95%, 65%);
    --color-danger: hsl(0, 95%, 65%);
    --color-dark: hsl(252, 30%, var(--dark-color-lightness));
    --color-black: hsl(252, 30%, 10%);

    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

body{
    font-family: "Poppins", sans-serif;
    color: var(--color-dark);
    background: var(--color-light);
    overflow-x: hidden;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(230%2c 184%2c 0%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c621.649C113.342%2c603.155%2c203.835%2c529.574%2c299.667%2c466.291C394.245%2c403.837%2c500.562%2c352.715%2c556.518%2c254.153C614.871%2c151.37%2c619.785%2c29.716%2c614.558%2c-88.36C608.879%2c-216.639%2c623.579%2c-372.594%2c525.124%2c-455.023C424.919%2c-538.917%2c269.998%2c-457.102%2c142.092%2c-483.92C28.831%2c-507.667%2c-64.735%2c-630.984%2c-176.822%2c-602.199C-288.639%2c-573.484%2c-326.761%2c-435.738%2c-398.312%2c-345.14C-466.069%2c-259.345%2c-548.911%2c-187.119%2c-585.884%2c-84.237C-628.65%2c34.765%2c-664.248%2c165.208%2c-624.903%2c285.384C-584.01%2c410.289%2c-485.615%2c513.262%2c-369.878%2c575.541C-258.205%2c635.633%2c-125.16%2c642.071%2c0%2c621.649' fill='%23e6b800'%3e%3c/path%3e%3cpath d='M1440 997.543C1528.486 1013.7919999999999 1636.257 1029.5140000000001 1702.893 969.0699999999999 1770.647 907.6120000000001 1734.792 794.21 1760.837 706.521 1782.1109999999999 634.894 1836.342 576.806 1841.541 502.267 1847.517 416.595 1842.002 324.75800000000004 1792.353 254.68400000000003 1741.0059999999999 182.21499999999997 1657.028 134.34199999999998 1569.635 118.505 1486.104 103.368 1407.938 149.781 1325.511 170.086 1238.53 191.51299999999998 1120.201 165.611 1071.969 241.099 1021.9110000000001 319.446 1106.002 419.15 1106.976 512.118 1107.745 585.508 1053.484 656.246 1077.048 725.754 1101.186 796.958 1172.4270000000001 837.643 1232.608 882.7080000000001 1297.167 931.052 1360.672 982.976 1440 997.543' fill='%23ffd54f'%3e%3c/path%3e%3cpath d='M1440 800C1500 850 1550 780 1600 820C1650 860 1700 800 1750 840C1800 880 1850 820 1900 860' fill='%23ffb300'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    animation: colors 18s ease-in-out infinite;
}

 @keyframes colors {
    0%{background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}
}

.container{
    width: 80%;
    margin: 0 auto;
}

nav .container{
    width: 100%;
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
}

main {
  min-height: 100vh;           /* ocupa a tela inteira */
  display: flex;
  flex-direction: column;
  align-items: center;         /* centraliza na horizontal */
  justify-content: center;     /* centraliza na vertical */
  padding: 0; 
}


.caixa-texto {
  /* margin-top: 120px;
  border: 2px solid black;
  padding: 40px 20px;
  text-align: center;
  width: 80%; */
  border: 2px solid black;
  padding: 40px 20px;
  text-align: center;
  width: 80%;
  margin-bottom: 20px;
}

.search{
  border: 2px solid black;
  padding: 10px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.meio {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  margin-top: 40px;
  width: 100%;
}

.box-card{
    background-color: white;
    padding: 15px 350px;
    border-radius: 18px;
}

.card-titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    flex-direction: inherit;
    width: 100%;
}

.card {
  background: white;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    border: 2px solid darkorange;

}

.card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.badge {
  background: #d1f2eb;
  color: #117864;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: bold;
}

.featured {
  background: orange;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 10px;
  border-radius: 6px;
}

.card-body h3 {
  margin: 0 0 8px;
  font-size: 18px;
  color: #333;
}

.card-body p {
  font-size: 14px;
  color: #555;
}

.card-footer {
  margin-top: 16px;
  font-size: 13px;
  color: #444;
}

.card-footer button {
  margin-top: 12px;
  background: orange;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.card-footer button:hover {
  background: darkorange;
}

footer {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 20px 0;
    width: 100%;
    display: flex;
    
}

.pagination {
    justify-content: space-between;
    text-align: center;
    align-items: center;
    max-width: 960px;
}


